.overview{
	/*width:100%;*/
	/*height:100%;*/
	transition: all 0.25s;
	/*display: none;*/
	opacity:0;
	height:0;
	padding: 0 8px;
	overflow: hidden;
	
}

html, body{
	padding: 0;
	margin: 0;
}

textarea{
	resize: none;
	height: 160px;
	text-align: left;
	font-family: Arial;
	font-size: 14px;
	line-height: 1.5;
	width: 460px;
	color:white;
	background: transparent;
	text-shadow: 1px 1px 2px #000000
}


img{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	
}

label, .job_header:hover{
	cursor:pointer;
}

input[type=checkbox]{
	position: absolute;
	top: -9999px;
	left: -9999px;
}

input[type=checkbox]:checked ~ .overview{
	/*display: block;*/
	opacity: 1;
	height:100%;
	width:100%;
	padding:8px;
}

ul{
	list-style-type: none;
	padding:0;
}

li{
	margin: 10px 0 10px 0;
}

a{
	text-decoration:none;
}

p{
	text-align:left;
}

.main_overview{
	width:800px;
}

.main_content{
	margin: 10px 25px 10px 20px;
	font-size: 90%;
}

#dbanner, .parent_content, .container_dps{
	width:800px;
	background-color:#610805;
}

.container{
	display:flex;
	width:800px;
	height:100%;
	margin-top: 40px;
	margin-bottom: 10%;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:space-around;
}

.container_tank, .container_healer{
	width:390px;
}

.container_tank, .container_healer, .container_dps, .main_content{
	border-radius:5px;
	background-color:#f2f2f2
}

.container_dps{
	height:510px;
}

.dps_subbanner{
	margin-left:20px;
	padding-bottom: 5px;
	padding-top: 15px;
	border-bottom: 1px solid #cccccc;
}



.banner, .dps_subbanner{
	height:30px;
	display:flex;
	align-items:center;
}

body{
	font-family: Arial, Calibri;
	background-color:#ebebe0;
}

.banner{
	font-weight:bold;
	color:white;
	padding-bottom: 10px;
	padding-top: 10px;
}

.dps_subbanner{
	font-weight:bold;
	color:black;
}

a:link, a:visited, a:hover, a:active{
	color: black;
	font-weight:bold;
}

#tbanner{
	background-color:#272376;
}
#hbanner{
	background-color:#006a00;
}
#dpbanner{
	background-color:#610805;
}

#body{
}

#main{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	height:100%;
	width:100%;
}

#left{
	width:15%;
}

#right{
	width:15%;
}

#top{
	width: 100%;
	max-height: 395px;
	align-self:center;
	text-align:center;
}

#middle{
	width:100%;
	max-width: 900px;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
}

#bottom{
	bottom: 0;
	width:100%;
	height: 50px;
}

.parent_content{
	display:flex;
	justify-content:space-between;
	background-color:#f2f2f2
}

#melee_content, #ranged_content{
	width:380px;
}

.link{
	width:100%;
	height:100%;
}

.dlink, .hlink, .tlink{
	height: 50px;
	width: 350px;
	text-align:left;
	display:table-cell;
	vertical-align:middle;
	transition: 0.5s ease;
}

.dlink:hover, .hlink:hover, .tlink:hover{
	transition: 0.5s ease;
}

.dlink:hover{
	background: rgba(97, 8, 5, 0.5);
}

.hlink:hover{
	background: rgba(0, 106, 0, 0.5);
}

.tlink:hover{
	background: rgba(39, 35, 118, 0.5);
}

/* Drop-down menu styling*/
.sticky-top{
	position:fixed;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content:center;
}

.dropbutton, .dropdown_content a{
	color: #476ba5;
}

.dropbutton{
	background-color: #ededed;
	height: 50px;
	width:  190px;
	font-weight: 550;
	font-size: 16px;
	font-family: Arial;
	border: 1px solid #bababa;
	cursor:pointer;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.dropbutton:hover{
	background-color: #f7f7f7;
}

.dropdown_content a{
	font-size: 12px;
	background-color: #ededed;
	width: 180px;
	padding-top:7px;
	padding-bottom: 7px;
	padding-left: 10px;
	text-align:left;
}

.body-detach-top{
	margin-top: 50px;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown_content a{
	display:block;
}

.dropdown:hover .dropdown_content{
	display:block;
}

.dropdown_content{
	display:none;
	position:absolute;
	z-index: 1;
}
/*end drop down menu styling*/

#top-link{
	padding-bottom: 5px;
	padding-top: 10px;
	text-shadow: 1px 1px 2px #000000;
}

#top-link a{
	color:white;
}

.top-mid, .action-trait-table{
	display: flex;
	flex-direction: column;
}

.action-trait-table{
	padding-top: 20px;
}

.top-mid{
	width: 100vw;
	height: 390px;
}

#top-link, #class-page-icon, #class-page-banner, #class-lore-text{
	margin-left: 460px;
}

#paladin-header-background{
	background-image:url('./paladin-header.jpg');
}

#warrior-header-background{
	background-image:url('./warrior-header.jpg');
}

#dark-knight-header-background{
	background-image:url('./dark-knight-header.jpg');
}

#monk-header-background{
	background-image:url('./monk-header.jpg');
}

#dragoon-header-background{
	background-image:url('./dragoon-header.jpg');
}

#ninja-header-background{
	background-image:url('./ninja-header.jpg');
}

#samurai-header-background{
	background-image:url('./samurai-header.jpg');
}

#bard-header-background{
	background-image:url('./bard-header.jpg');
}

#machinist-header-background{
	background-image:url('./machinist-header.jpg');
}

#summoner-header-background{
	background-image:url('./summoner-header.jpg');
}

#red-mage-header-background{
	background-image:url('./red-mage-header.jpg');
}

#black-mage-header-background{
	background-image:url('./black-mage-header.jpg');
}

#white-mage-header-background{
	background-image:url('./white-mage-header.jpg');
}

#scholar-header-background{
	background-image:url('./scholar-header.jpg');
}

#astrologian-header-background{
	background-image:url('./astrologian-header.jpg');
}

.main-header-banner{
	background-image:url('./main-page-header.jpg');
	margin: 0;
	height:395px;
	position:relative;
}

#main-header-text{
	background-color:#610805;
	color:white;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	width:100%;
	position:absolute;
	bottom: 0;
}

.job-background{
	background-position: center center;
}

.at-header{
	height: 30px;
	border-radius: 5px;
	padding-left: 10px;
}



#tank-job-action{
	color: #272376;
}

#healer-job-action{
	color: #006a00;
}

#dps-job-action{
	color: #610805;
}

.job-header{
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Table design */
.tank-table-header{
	background-color: #5e5b96;
	white-space: nowrap;
	height: 40px;
}

.dps-table-header{
	background-color: #773937;
	white-space: nowrap;
	height: 40px;
}

.healer-table-header{
	background-color: #597f59;
	white-space: nowrap;
	height: 40px;
}

#action-name-header{
	width: 200px;
}

#acquired-header{
	width: 90px;
}

#type-header{
	width: 90px;
}

#cast-header{
	width: 90px;
}

#recast-header{
	width: 90px;
}

#cost-header{
	width: 90px;
}

#range-header{
	width: 90px;
}

#effect-header{
	width: 400px;
}

table{
	font-family: Arial;
	border-collapse: collapse;
}

th{
	color:white;
	font-size: 14px;
	font-weight: 200;
	border-radius: 5px;
}

td{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: 200;
	border-bottom: 1pt solid #a5a5a5;
}


td:nth-child(1){
	font-weight: 600;
}


